*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./imagens/alimentacao.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.calculadora{
   display: grid;
   justify-content: center;
   align-content: space-around;
   background-color: rgba(140,137,136, 0.95) ;
   width: 450px;
   height: 350px;
}

p{
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#error{
    font-size: 15px;
    color: red;
    background-color: white;
}
.resultado{
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.border{
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-radius: 5px;
    width: 200px;
}

.btn{
    width: 208px;
    margin-top: 10px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-radius: 5px;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 600ms;
}
.btn:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: all 0.5s;
    

}

@media screen and ( max-width: 820px)  {
    body{
        background-image: url(./imagens/alimentacao640.jpg);
    }
}
@media screen and ( max-width: 480px)  {
    body{
        background-image: url(./imagens/aa.jpg);
        background-repeat: repeat;
    }
}
